.page-body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: #434455, #2e2f42;

}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.page-header {
    background-color: white;
    color: #2e2f42;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
 }
    
.logo .web {
    color: #4d5ae5;
}
.logo .studio {
    color: #2e2f42;
}

.page-nav {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;

}
.contacts .link {
    color: #434455;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}
.contacts .link:hover,
.contacts .link:active{
    color: #4d5ae5;
}
.page-main {
    background-color: white;
}
.page-title {
    background-color: #2e2f42;
    height: 600px;
}
.title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 60px;
    flex-direction: column;
    display: flex;
}
.button {
    background-color: #4d5ae5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 4%;
    position: static;
    margin-top: auto;

}
.button:hover {
    color: #404bbf;
}
